<% layout('layout/boilerplate') %>

<link rel="stylesheet" href="/styles/thumbnails.css">
   
    <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="row">
            <h1 class="text-center">Edit Campground</h1>
            <div class="col-6 offset-3">
                <form action="/campgrounds" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" value="<%= camp.title %>" required>
                    </div>
                    <div  class="mb-3">
                        <label  class="form-label" for="location">Location</label>
                        <input class="form-control"  type="text" name="campground[location]" id="location" value="<%= camp.location %>" required>
                    </div>
                     
                    
                    <div class="mb-3">
                        <label for="price">Campground price</label>
                        <div class="input-group ">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="price" name="campground[price]" value="<%= camp.price %>" required>
                            <span class="input-group-text">.00</span>
                          </div>
                    </div>
                   
                    <div  class="mb-3">
                        <label  class="form-label" for="description">Description</label>
                        <textarea class="form-control"  type="text" name="campground[description]" id="description" required><%= camp.description %></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="image" name="image" multiple>
                        <label class="input-group-text" for="image">&#128196;</label>
                      </div>
                    <div class="image-gallery">
                        <% camp.images.forEach(function(img, i) { %>
                          <div class="image-container">
                            <label class="image-label">
                              <input type="checkbox" id="image-checkbox-<%= i %>" name="deleteImages[]" value="<%= img.filename %>" class="image-checkbox visually-hidden">
                              <img src="<%= img.thumbnail %>" alt="">
                              <span class="checkmark"></span>
                            </label>
                            <div class="image-actions">
                              <label for="image-checkbox-<%= i %>" class="delete-label">Delete</label>
                            </div>
                          </div>
                        <% }) %>
                      </div>
                      <div class="edit-button-container">
                        <button class="edit-button">Edit Campground</button>
                      </div>
                      
            
                </form>
                <a href="/campgrounds">All campgrounds</a>
            </div>
        </div>
    </form>

    <script src="/js/editPageThumbnail.js"></script>
      
      
      
      
      
      