<% layout('layout/allCamps') %>

<link rel="stylesheet" href="/styles/campgrounds.css">
<link rel="stylesheet" href="/styles/show.css">
<link rel="stylesheet" href="/styles/stars.css">
<div id="cluster-map"></div>

<h1 class="mt-4 mb-5">All Campgrounds</h1>

<div class="container">
  <div class="row">
    <% for (let camp of campgrounds) { %>
      <div class="col-md-6 mb-5">
        <a class="card-link" href="/campgrounds/<%= camp._id %>">
          <div class="card">
            <% if (camp.images && camp.images.length > 0) { %>
              <img crossorigin="anonymous" class="card-img-top" src="<%= camp.images[0].url %>" alt="">
            <% } else { %>
              <p class="no-image">No image available</p>
            <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= camp.title %></h5>
              <p class="card-text"><%= camp.location %></p>
              <% if (camp.totalRatings > 0) { %>
                <p class="card-text">Average Rating: <%= camp.averageRating.toFixed(1) %> (based on <%= camp.totalRatings %> ratings)</p>
                <p class="starability-result" data-rating="<%= Math.floor(camp.averageRating) %>">
                  Rated: <%= Math.floor(camp.averageRating) %> stars
                </p>
              <% } else { %>
                <p class="card-text">No ratings yet</p>
                <p class="starability-result" data-rating="0">
                  Rated: 0 stars
                </p>
              <% } %>
              <p class="card-text">from <strong>$<%= camp.price %></strong>/night</p>
              
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</div>

        


<script>
   const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
   const campgrounds = {features:<%-JSON.stringify(campgrounds)%>}
</script>
  
<script src="/js/clusterMap.js"></script>
    

    